// --------------------------------------------------
// Grid
// --------------------------------------------------


.container-box {
    width: 100%;
    display: grid;
    padding: $padding-default 0;
    grid-template-columns: 49% 49%;
    grid-gap:  20px 1%;
}


.container {
    padding-right: $padding-default;
    padding-left: $padding-default;
    margin-right: auto;
    margin-left: auto;
}

@include respond-to($phone) {
    .container {
        max-width: 480px;
    }

    .container-box{
        grid-template-columns: 100%;
        grid-gap:  20px 0px;
    }
}

@include respond-to($tablet-portrait) {
    .container {
        max-width: 720px;
    }

    .container-box{
        grid-template-columns: 49% 49%;
        grid-gap:  20px 1%;
    }
}

@include respond-to($tablet-landscape) {
    .container {
        max-width: 780px;
    }

    .container-box{
        grid-template-columns: 49% 49%;
        grid-gap:  20px 1%;
    }
}  

@include respond-to($large-desktop) {
    .container {
        max-width: 1170px;
    }

    .container-box{
        grid-template-columns: 32%  32%  32%;
        grid-gap:  20px 1%;
    }
}  
