// Cabeçalho do Site
// ====================

.header {
    background-color : $color-clean;
    padding: $padding-default * 2;

    @extend .border;
    
    // Titulo
    .title {
    
        font-size: $font-size-xl;

        // SubTitulo
        .small {
            font-size: $font-size-small;
            color: $color-gray-dark;
        }
    }
}