// Contadores de Interação de usuários

.interact-count {
    font-size: $font-size-default;
    text-decoration: none;
    color: $color-gray-dark;

    &:hover{
        color: $color-info;

        .fa-heart{
            color: $color-danger;
        }
    }
}
