
// Informações de Perfil, Foto , Titulo e Sub Titulo
// ==================================================

.profile-info {
    padding-left: 60px;
    position: relative;

    // Foto do Usuário
    .image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;

        img {
            width: 100%;
        }
    }

    // Titulo Primeiro
    .title-primary {
        margin: 0;
        padding: 0;
        font-size: $font-size-xl;
        font-weight: $font-bold;
        line-height: $line-height;
    }

    // Subtitulo
    .title-sub {
        color: $color-gray-dark;
        font-size: $font-size-default;
    }

    // Botões de interaçao
    .interactive{
        width: 90px;
        position: absolute;
        top:0;
        right: 0;

        .interact-count {
            width: 100%;
            display: inline-block;
        }
    }
}
