// Lista de Shots
// O grid da listas é dependente das configurações do container
// ================================================

.shot-list {
    // Item de Shots
    .shot-item {
        
        cursor: pointer;
        background: $color-clean;

        @extend .border;

        // Cabeçalho do item
        .shot-header {   
            // Imagem do shot 
            .shot-header-image{
                height: 200px;
                overflow: hidden;
                img{
                    width: 100%;
                }
            }

            // Titulo do SHOT
            .shot-header-title {
                padding: $padding-default;
                font-weight: $font-bold;
                font-size: $font-size-lg;
            }
        }

        // Corpo do Shot, virá uma abreviação da descrição do shot
        .shot-body {
            font-size: $font-size-default;
            padding: $padding-default;
        }

        // Rodapé do shot, contendo aqui as informações de interação
        .shot-footer {
            padding: $padding-default;
            text-align: right;  
            border-top: 1px solid $color-gray;
            margin-top: $margin-default;      
        }
    }

}