// Cores Gerais
$color-black: #333;
$color-gray: #dedede;
$color-gray-dark: #ccc;
$color-clean: #fff;

$color-success: green;
$color-danger: red;
$color-warning: yellow;

// Cores Especificas

$color-global-bg : $color-gray;

// Tamanhos


// Espaçamentos

$padding-default : 10px ;
$margin-default : 10px ;